@model ForecastApp.Models.City

@{
    ViewData["Title"] = "City";
}

<div class="container">

    <div class="container text-center">

        <div class="form-group col-md-offset-3 col-md-12" style="font-size: 1.5rem;">

            <h2>Forecast for the selected city</h2>

            <label asp-for="Name"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Name</span>
            <br />

            <label asp-for="Temp"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Temp °F</span>
            <br />

            <label asp-for="Humidity"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Humidity %</span>
            <br />

            <label asp-for="Pressure"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Pressure Hpa</span>
            <br />

            <label asp-for="Wind"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Wind Km/h</span>
            <br />

            <label asp-for="Weather"></label>
            <span class="badge mb-3" style="color:black; font-style: italic">@Model.Weather</span>

        </div>

    </div>

    <div class="container text-center">

        <div class="form-group col-md-offset-3 col-md-12 mt-2">

            <form method="get">
                <button asp-controller="ForecastApp" asp-action="SearchCity" class="btn btn-success">Return</button>
            </form>

        </div>

    </div>

</div>